/* all thing assumed 35 px x 40px*/
.skill {
    /* background-color: blueviolet; */
    border: 2px solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: bisque; */
}

.skill>img {
    width: 20px;
    height: 20px;
    object-fit: scale-down
}

.skill>span {
    font-size: 0.8rem;
}

.multiple {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-auto-columns: 40px;
    grid-auto-flow: column dense;
    grid-gap: 5px;
    margin: 2px;
    /* background-color: cadetblue; */
}

.multiple>img {
    border: 2px solid;
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    /* background-color: aqua; */
}

.multiple>skill {
    border: 2px solid;
    width: 40px;
    height: 40px;
    object-fit: scale-down
}


.multiple>img:only-child {
    align-items: center;
    background-color: rgb(160, 95, 95);
}

.green-background {
    background-color: rgb(0, 200, 0);
}

.multiple>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid;
}


.green-background {
    background-color: rgb(0, 200, 0);
}

.flex-container {
    /* margin: auto; */
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.flex-container>img {
    /* margin: 20px; */
    border: 2px solid;
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    /* background-color: aquamarine; */
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background-color: yellow; */
    font-size: 30px;
}