:root {
    --title-bg: #000000;
    --menu-bg: #5D5447;
    --text-left-hover: #FFFF00;
    --text-left: #FFFFFF;
    --text-right: #FF9040;
}

#context-menu {
    position: absolute;
    background-color: var(--menu-bg);
    border: 1px solid var(--menu-bg);
    width: max-content;
    display: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Trebuchet MS", Arial, sans-serif;
}


#menu-title {
    background-color: var(--title-bg);
    color: var(--menu-bg);
    padding: 4px;
    margin-bottom: 2px;
}

#button-container {
    border: 1px solid var(--title-bg);
    display: flex;
    flex-direction: column;
}

.menu-button {
    background-color: var(--menu-bg);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

.menu-button:hover .left-text {
    color: var(--text-left-hover);
    justify-content: left;
}

.left-text {
    color: var(--text-left);
    flex-grow: 0;
    text-align: left;
    text-shadow: 1px 1px 2px black;
    /* Adds a slight dark shadow */
    white-space: pre;
}

.right-text {
    color: var(--text-right);
    flex-grow: 0;
    text-shadow: 1px 1px 2px black;
    /* Consistent styling */
}